html,body{
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
    background-color: #DECF9C;
    color: #0C5313;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

nav, footer, .natPark{
    border: 5px solid #AAB363;
}

.mainImg, .natParkImg{
    line-height: 0;
    border: 5px solid #154111;
}

#beetlePic > img, .mainImg > img, .natParkImg > img {
    max-width: 100%;
    height: auto;
}

nav > ul, #allLinks{
    list-style: none;
    margin-left: 0px;
}

header, nav, footer{
    width: 100%;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-top: 0;
    border-left: 0;
    border-right: 0;
}

nav > ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
}

.navItem{
    background-color: #FFBA6D;
    padding: 10px 20px;
    border: 5px solid #568851;
    margin: 0px 10px;
}

.navItem > a{
    text-decoration: none;
    color: #417447;
}

.navItem:hover{
    background-color: #FB9849;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: auto;
    width: 80%;
    margin: 15px 0px;
}

p {
    font-size: large;
}

small{
    text-align: center;
}

.natPark{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 20px 0px;
}

.natParkImg{
    max-width: 250px;
    height: auto;
    margin: 10px;
}

.natPark > p {
    margin: 5px;
}

.mainImg{
    max-width: 500px;
    height: auto;
    margin: 5px;
}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    gap: 100px;
    padding: 15px 0px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

#allLinks a {
    color: #417447;
}

#beetlePic{
    width: 200px;
    height: auto;
}

@media screen and (max-width: 768px) {
    nav > ul {
        flex-direction: column;
    }

    .navItem{
        margin: 10px 0px;
        font-size: x-large;
    }

    small{
        font-size: medium;
    }

    .natPark{
        flex-direction: column;
    }

    footer{
        flex-direction: column;
        gap: 0;
    }
    
    footer > div{
        margin: 10px 0px;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {

}