{% extends 'base.html' %}

{% block main %}
<main>
    <button id="darkMode">Dark Mode</button>
    <div class="mainImg">
        <img src="static/images/shenandoah/shenOwl.jpg" alt="Dark Hollow Falls Shenandoah">
    </div>
    <small>Shenandoah National Park<br>Dark Hollow Falls<br>August 28th 2024</small>

    <p>National parks are the most popular sites in the park system.
        They usally offer amazing views of nature that are unique to their location.
        This excludes the shameful Gateway Arch national park. This was made a park
        just on poltics and is a disgusting mess. They also offer historical information
        and exhibits. They can only be made by an act of congress.
    </p>

    <h2>I have been to {{ parks | length }}/63</h2>

    {% for park in parks.values() %}
    <a href="{{ park.url }}">
        <div class="natPark">
            <div class="natParkImg">
                <img src="{{ url_for('static', filename=park.PreImg.img) }}" alt="{{ park.PreImg.alt }}">
            </div>
            <p>{{ park.PreText }}</p>
        </div>
    </a>
    {% endfor %}

    <h2>Map of all National Parks I have been too</h2>

</main>
{% endblock %}